body {
    
}
#board{
    display:flex;
    flex-wrap: wrap;
    background-color: bisque;
}
#player{
    width: 30px;
    height: 30px;
    background-color: salmon 
}
.row{
    display: flex;

}
.cell{
    width: 50px;
    height: 50px;
}
.wall{
    background-color: cornflowerblue;
}
#winCon {
    z-index: -1;
    position: absolute;
    background-color: white;
    width: 100px;
    height: 100px;
    top: 350px;
    left:500px;
}